html, body, #app {
	height: 100%;
}
/* 
#app {
	min-height: 100%;
} */

.page-content {
	min-height: calc(100% - 15rem);
	margin-top: 10rem;
	overflow: visible;
	/* padding: 10rem 1.5rem; */
}
#page-wrap {
	min-height: 60vh;
}

.Footer {
	margin-top: 5rem;
	border-top: medium solid #eeeeee;
	bottom: 0;
	/* background: #ededed; */
}
.Modal {
	position: relative;
	top: 6rem;
}
.Navbar-color {
	background: #ededed;
}
.Navbar-container {
	width: 1600px;
}
.Navbar-link {
	color: black;
}
.Navbar-link:hover {
	color: #dc3545;
}
.Navbar-logo {
	max-width: 211px;
}
.Navbar-Menu-Wrapper {
	display: flex;
}
.Sidebar-wrapper {
	display: none;
}
.Table-action:hover .Delete {
	color: #dc3545;
}
.Table-action:hover .Edit {
	color: #ffc107;
}
.UserManagement-margin-top {
	margin-top: 64px;
}
.Unit-text {
	font-size: x-small;
	display: inline;
}

@media only screen and (max-width: 768px) {
	.Navbar-link {
		color: #ededed;
	}
	.Navbar-Menu-Wrapper {
		display: none;
	}
	.Sidebar-wrapper {
		display: flex;
	}
  }

/******* Tooltip stles *******/
.Tooltip {
	position: relative;
	display: inline;
	font-size: medium;
	/* border-bottom: 1px dotted black; */
}
.tooltiptext {
	font-size: medium;
}
  
.Tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -70px;
}
  
.Tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
  
.Tooltip:hover .tooltiptext,
.Tooltip:active .tooltiptext {
	visibility: visible;
}


/******* ReactModal styles *******/
.ReactModal__Html--open,
.ReactModal__Body--open {
	overflow: hidden;
}

.ReactModal__Overlay {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReactModal__Content {
	top: 0;
	background: white;
	outline: none;
	width: 50rem;
	max-width: calc(100vw - 2rem);
	max-height: calc(100vh - 5rem);
	box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.24);
	overflow-y: auto;
	position: relative;
	align-items: center;
	justify-content: center;
}

.modal-dialog {
	position: relative;
	width: auto;
	max-width: 700px;
}